// Color Palette

$light-greenish-blue: #55efc4;
$faded-poster: #81ecec;
$green-darner-tail: #74b9ff;
$shy-moment: #a29bfe;
$city-lights: #dfe6e9;
$dracula-orchid: #2d3436;

// Fonts
$small: 14px;
$medium: 20px;
$big: 48px;

// Measures
$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;
